<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">

<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
<form method="post" action="/admin/edit/">
    Update Name: <input name="name" th:value="${user.name}">
    <br><br>
    Update Login: <input name="login" th:value="${user.login}">
    <br><br>
    Update Password: <input name="pass" th:value="${user.pass}">
    <br>
    Check Roles
    <br>
    <tr th:each="role:${rolelist}">
        <br>
        <td th:utext="${role.type}"/>

        <input type="checkbox" th:value="${role.type}" name="role.type"
        th:checked="${userroles.contains(role.type)}"/></p>
        </tr>

<input type="hidden" name="id" th:value="${user.id}">
<br>
<input type="submit" class="btn btn-success" value="Update"/>
</form>

<!--               th:each="userrole:${userroles}"-->
<!--        th:disabled="${userrole.type != role.type}"-->
<!--<tbody th:each="role:${rolelist}">-->
<!--    <br>-->

<!--<tr th:utext="${role.type}"/>-->
<!--    <input type="checkbox" th:value="${role.type}" th:field="role.type"-->
<!-- th:each="userrole:${userroles}"-->
<!--    th:checked="${userrole.type eq role.type}">-->


<!--</tbody>-->


</body>
</html>